@import "../../app/style";

$rangeWidth: 90px;
$rangeHeight: 3px;

.range {
    position: relative;
    width: $rangeWidth;
    height: $rangeHeight;
    background: $rangeBackground center repeat;
    border: 3px double $fontColor;
    border-radius: 6px;
    border-image: $rangeBorder 5 5 5 5;
    border-image-width: 4px;
    border-image-outset: 2px 0;
    border-image-repeat: round round;

    &-stick {
        position: absolute;
        top: 50%;
        left: 0;
        width: 32px;
        height: 32px;
        background-image: $range;
        transform: translate(0, -50%);
    }

    &:focus {
        outline: none;
        box-shadow: $hoverBox;
    }
}
