@import "../../app/style";

.checkbox {
    width: 32px;
    height: 32px;
    background-image: $checkbox;
    border-radius: 8px;

    &:focus {
        outline: none;
        box-shadow: inset $hoverBox;
    }

    &--checked {
        background-image: $checkboxCheck, $checkbox;
    }
}
