@import "../../app/style";

$menuItemWidth: 32px;
$menuItemHeight: 41px;

.menu-item {
    z-index: 4;
    width: $menuItemWidth - 4px;
    height: $menuItemHeight - 4px;
    background-image: $helpButton;
    background-repeat: no-repeat;
    background-position: center;
    background-size: $menuItemWidth $menuItemHeight;
    border-radius: 6px;

    &--active {
        background-image: $helpButtonClick;
    }

    &:hover {
        box-shadow: $hoverBox;
    }

    &:focus {
        outline: none;
        box-shadow: $hoverBox;
    }

    &:active {
        background-image: $helpButtonClick;
    }
}
