@import "../../app/style";

.view {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  animation: pulse 10s infinite;
  animation-direction: alternate;

  &-background {
    z-index: 2;
    opacity: 1;
    position: absolute;
    min-width: inherit;
    min-height: inherit;
    background: $backgroundTexture;
    transition: opacity $transitionDuration $transitionType;

    &--loaded {
      opacity: 0;
    }
  }


  &-author {
    z-index: 2;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 110px;
    font-family: $font;
    text-shadow: $fontShadow;
    color: $fontColor;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: .3;

    a {
      cursor: $cursorPointer, auto;
      color: inherit;
      text-decoration: none;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
