@import "../assets/assets";

$hoverColor: 0 0 4px 2px rgba(173, 154, 32, 0.75);
$previewHeight: 180px;
$previewWidth: 320px;
$font: 'Arial Narrow';
$fontSpacing: 1.2px;
$fontSize: 14px;
//$fontShadow: 2px 2px 2px #000;
$fontShadow: -1px -1px 1px #000,
1px -1px 1px #000,
-1px 1px 1px #000,
1px 1px 1px #000;
$buttonSmallWidth: 78px;
$buttonSmallHeight: 21px;
$buttonWidth: 125px;
$buttonHeight: 20px;
$fontColor: #eec511;
$fontColorWhite: #fff;
$transitionDuration: 500ms;
$transitionType: cubic-bezier(1, .35, .57, 1);
$settingsBackground: rgba(0, 0, 0, 0.6);

body {
  cursor: $cursor, auto;
  background-image: $backgroundTexture;
  background-repeat: repeat;
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: $font;
  font-size: $fontSize;
  text-shadow: $fontShadow;
  letter-spacing: $fontSpacing;
  color: $fontColor;
  cursor: $cursor, auto;
  width: $buttonWidth;
  height: $buttonHeight;
  border: none;
  border-radius: 6px;
  background-color: unset;
  background-image: $buttonUp;
  background-position: -2px -2px;

  &:hover {
    background-image: $buttonHover, $buttonUp;
  }

  &:focus {
    outline: none;
    box-shadow: $hoverColor;
  }

  &:active {
    justify-content: center;
    background-image: $buttonDown;
  }
}
