:root {
  --background: #170e09;
  --foreground: #ebdec2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
