@import "../../app/style";

.preview {
  z-index: 4;
  cursor: pointer;
  min-width: 320px;
  min-height: 180px;
  margin: 5px;
  border: 10px double var(--foreground);
  border-image: $border 12 12 11 12;
  border-image-width: 10px;
  border-image-outset: 5px;
  border-image-repeat: stretch stretch;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 800ms ease-in-out;
}
