@import "../../pages/app/style";

$settingsWidth: 182px;
$settingsHeight: 315px;
$settingsBorderWidth: 12px;
$settingsBorderOutset: $settingsBorderWidth - 4px;

$settingsHeaderWidth: 132px;
$settingsHeaderHeight: 25px;

.settings {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    width: $settingsWidth;
    height: $settingsHeight;
    font-size: $fontSize;
    font-family: $font;
    letter-spacing: $fontSpacing;
    text-shadow: $fontShadow;
    background-color: $settingsBackground;
    border: $settingsBorderWidth double $fontColor;
    border-image: $border 15 15 15 15 fill;
    border-image-outset: $settingsBorderOutset;
    border-image-repeat: stretch stretch;
    transform: translate(-50%, -50%);

    &-header {
        position: absolute;
        top: -$settingsHeaderHeight;
        left: 50%;
        z-index: 6;
        width: $settingsHeaderWidth;
        height: $settingsHeaderHeight;
        transform: translateX(-50%);
    }

    &-content {
        display: grid;
        grid-gap: 15px;
        grid-template-rows: 1fr;
        margin-top: 10px;
        color: $fontColor;
    }

    &-option {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .settings-button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
