$backgroundTexture: url('/media/ui/backgroundTexture.png');
$borderRight: url('/media/ui/borderRight.png');
$borderTop: url('/media/ui/borderTop.png');
$panelBackground: url('/media/ui/panelBackground.png');
$border: url('/media/ui/border.png');
$dialogBorder: url('/media/ui/dialogBorder.png');
$dialogCloseButtonUp: url('/media/ui/dialogCloseButtonUp.png');
$dialogCloseButtonHover: url('/media/ui/dialogCloseButtonHover.png');
$dialogCloseButtonDown: url('/media/ui/dialogCloseButtonDown.png');
$checkbox: url('/media/ui/checkbox.png');
$checkboxHover: url('/media/ui/checkboxHover.png');
$checkboxCheck: url('/media/ui/checkboxCheck.png');
$buttonUp: url('/media/ui/buttonUp.png');
$buttonHover: url('/media/ui/buttonHover.png');
$buttonDown: url('/media/ui/buttonDown.png');
$buttonSmallUp: url('/media/ui/buttonSmallUp.png');
$buttonSmallHover: url('/media/ui/buttonSmallHover.png');
$buttonSmallDown: url('/media/ui/buttonSmallDown.png');
$cursor: url('/media/ui/cursor.png');
$cursorPointer: url('/media/ui/cursorPointer.png');
$cursorInteract: url('/media/ui/cursorInteract.png');
$selectBorder: url('/media/ui/selectBorder.png');
$selectArrow: url('/media/ui/selectArrow.png');
$selectArrowClick: url('/media/ui/selectArrowClick.png');
$radio: url('/media/ui/radio.png');
$rangeBorder: url('/media/ui/rangeBorder.png');
$range: url('/media/ui/range.png');
$rangeBackground: url('/media/ui/rangeBackground.png');
$helpButton: url('/media/ui/helpButton.png');
$helpButtonClick: url('/media/ui/helpButtonClick.png');
$settingsButton: url('/media/ui/settingsButton.png');
$settingsButtonClick: url('/media/ui/settingsButtonClick.png');
