@import "../../pages/app/style";

$selectWidth: 90px;
$selectHeight: 30px;

$selectBackgroundWidth: $selectWidth - 5px;
$selectBackgroundHeight: $selectHeight + 15px;

$DropDownBorder: 10px;
$dropDownOutset: $DropDownBorder / 2;

.select {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $selectWidth;
    height: $selectHeight;
    padding-left: 6px;
    color: $fontColorWhite;
    background-image: $selectBorder;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: $selectBackgroundWidth $selectBackgroundHeight;
    border-radius: 8px;

    &::before {
        position: absolute;
        top: 4px;
        left: 2px;
        z-index: -1;
        width: 75px;
        height: 18px;
        background-image: $panelBackground;
        background-repeat: repeat;
        content: "";
    }

    &--opened {
        .select-arrow {
            background-image: $selectArrowClick;
        }
    }

    &:focus {
        outline: none;
        box-shadow: inset $hoverBox;
    }

    &-arrow {
        width: 32px;
        height: 32px;
        background-image: $selectArrow;
    }

    &-drop-down {
        position: absolute;
        top: $selectHeight + 10px;
        left: 50%;
        z-index: 7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: $selectWidth + 10px;
        background-color: $settingsBackground;
        border: $dropDownOutset double $fontColor;
        border-image: $border 13 13 13 13;
        border-image-width: $DropDownBorder;
        border-image-outset: $dropDownOutset;
        border-image-repeat: stretch stretch;
        transform: translateX(-50%);

        &:focus {
            outline: none;
        }
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20px;
        text-align: center;

        &:hover {
            background:
                linear-gradient(
                    90deg,
                    rgba(173, 154, 32, .1) 0%,
                    rgba(173, 154, 32, .5) 25%,
                    rgba(173, 154, 32, .5) 75%,
                    rgba(173, 154, 32, .1) 100%
                );
        }

        &:active {
            align-items: flex-end;
        }

        &:focus {
            background:
                linear-gradient(
                    90deg,
                    rgba(173, 154, 32, .1) 0%,
                    rgba(173, 154, 32, .5) 25%,
                    rgba(173, 154, 32, .5) 75%,
                    rgba(173, 154, 32, .1) 100%
                );
            outline: none;
        }

        &::before {
            position: absolute;
            left: 0;
            width: 16px;
            height: 16px;
            background: $radio;
            content: "";
        }

        &--selected {
            &::before {
                position: absolute;
                left: 0;
                width: 16px;
                height: 16px;
                background: $radio 48px, $radio;
                content: "";
            }
        }
    }
}
